<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Test Page</title>
</head>
<body>
    <header>
        <nav class="">
            <a href="/"> Keycloak-Express </a> 
            <div class="right menu">
              <a class="item" href="#">Login</a>
              <a class="item" href="/other">Other</a>
              <a class="item" href="/logout">Logout</a>
            </div>
          </nav>
    </header>
    <main>
        <h1>Welcome To the protect page!</h1>
    </main>
    
</body>
</html>